<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  
    <filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>Utils.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/system/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/leader/*</url-pattern>
	</filter-mapping>
  
  <filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>Utils.CharsetFilter</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InPoliceServlet</servlet-name>
    <servlet-class>Servlet.system.InPoliceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>Servlet.system.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccidentServlet</servlet-name>
    <servlet-class>Servlet.user.AccidentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackupServlet</servlet-name>
    <servlet-class>Servlet.system.BackupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>Servlet.system.DriverServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccidentApproval</servlet-name>
    <servlet-class>Servlet.leader.AccidentApproval</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccidentResponse</servlet-name>
    <servlet-class>Servlet.user.AccidentResponse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>Servlet.system.ExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EvidenceServlet</servlet-name>
    <servlet-class>Servlet.system.EvidenceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OutPoliceServlet</servlet-name>
    <servlet-class>Servlet.system.OutPoliceServlet</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InPoliceServlet</servlet-name>
    <url-pattern>/servlet/InPoliceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/servlet/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccidentServlet</servlet-name>
    <url-pattern>/servlet/AccidentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackupServlet</servlet-name>
    <url-pattern>/servlet/BackupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/servlet/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccidentApproval</servlet-name>
    <url-pattern>/servlet/AccidentApproval</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccidentResponse</servlet-name>
    <url-pattern>/servlet/AccidentResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/servlet/ExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EvidenceServlet</servlet-name>
    <url-pattern>/servlet/EvidenceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OutPoliceServlet</servlet-name>
    <url-pattern>/servlet/OutPoliceServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
